<main>
  <style></style>
  <body>
    <p>All Users:</p>
    <p *ngIf="usersDataArray"></p>
    <div *ngFor="let user of usersDataArray">
      <span>id: {{ user.id }} name: {{ user.name }}</span>
    </div>
    <br />
    <p>
      Create User: <br />
      Enter a User ID to Create a new User:
      <input
        id="createUserByIdTextBox"
        style="width: 150px; height: 40px"
        type="text"
        value=""
      />
      Enter the User's Name also, to Create a new User:
      <input
        id="createUserByIdNameTextBox"
        style="width: 150px; height: 40px"
        type="text"
        value=""
      />
      <br />
      <button
        id="createBtn"
        style="width: 150px; height: 40px"
        type="button"
        (click)="onCreateButtonClick()"
      >
        Create User, then refresh the page!
      </button>
      <br />
      <br />
      <br />
    </p>

    <p>
      Update User: <br />
      Enter a User ID to Update:
      <input
        id="updateUserByIdTextBox"
        style="width: 150px; height: 40px"
        type="text"
        value=""
      />
      Enter the User's Name also, to Update:
      <input
        id="updateUserByIdNameTextBox"
        style="width: 150px; height: 40px"
        type="text"
        value=""
      />
      <br />
      <button
        id="updateBtn"
        (click)="onUpdateButtonClick()"
        formtarget="_blank"
        style="width: 150px; height: 40px"
      >
        Update User, then refresh the page!
      </button>
    </p>
    <br /><br />
    <br />
    Find User.
    <p id="foundUserResults"></p>
    Enter an existing User ID to Search:
    <input
      id="findUserByIdTextBox"
      style="width: 150px; height: 40px"
      type="text"
      value=""
    />
    <button
      id="findBtn"
      (click)="onFindButtonClick()"
      formtarget="_blank"
      style="width: 150px; height: 40px"
    >
      Find User by ID Button.
    </button>
  </body>
</main>
<router-outlet />
